/* 
    gfr2 v1.0.4 | MIT License
    https://github.com/rivercory/gfr2
*/

.github-fork-ribbon {
    width: 12.1em;
    height: 12.1em;
    position: absolute;
    overflow: hidden;
    top: 0;
    right: 0;
    z-index: 9999;
    pointer-events: none;
    font-size: 13px;
    text-decoration: none;
    text-indent: -999999px;
}

.github-fork-ribbon.github-fork-ribbon-fixed {
    position: fixed;
}

.github-fork-ribbon:hover,
.github-fork-ribbon:active {
    background-color: rgba(0, 0, 0, 0.0);
}

.github-fork-ribbon:before,
.github-fork-ribbon:after {
    position: absolute;
    display: block;
    width: 15.38em;
    height: 1.54em;
    top: 3.23em;
    right: -3.23em;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

.github-fork-ribbon:before {
    content: "";
    padding: .38em 0;
    background-color: #adb5bd;
    pointer-events: auto;
}

.github-fork-ribbon:after {
    content: attr(data-ribbon);
    color: #fff;
    font: 600 1em Arial, Helvetica, Arial, sans-serif;
    line-height: 1.54em;
    text-decoration: none;
    text-align: center;
    text-indent: 0;
    padding: .15em 0;
    margin: .15em 0;
}

.github-fork-ribbon.github-fork-ribbon-left-top,
.github-fork-ribbon.github-fork-ribbon-left-bottom {
    right: auto;
    left: 0;
}

.github-fork-ribbon.github-fork-ribbon-left-bottom,
.github-fork-ribbon.github-fork-ribbon-right-bottom {
    top: auto;
    bottom: 0;
}

.github-fork-ribbon.github-fork-ribbon-left-top:before,
.github-fork-ribbon.github-fork-ribbon-left-top:after,
.github-fork-ribbon.github-fork-ribbon-left-bottom:before,
.github-fork-ribbon.github-fork-ribbon-left-bottom:after {
    right: auto;
    left: -3.23em;
}

.github-fork-ribbon.github-fork-ribbon-left-bottom:before,
.github-fork-ribbon.github-fork-ribbon-left-bottom:after,
.github-fork-ribbon.github-fork-ribbon-right-bottom:before,
.github-fork-ribbon.github-fork-ribbon-right-bottom:after {
    top: auto;
    bottom: 3.23em;
}

.github-fork-ribbon.github-fork-ribbon-left-top:before,
.github-fork-ribbon.github-fork-ribbon-left-top:after,
.github-fork-ribbon.github-fork-ribbon-right-bottom:before,
.github-fork-ribbon.github-fork-ribbon-right-bottom:after {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.github-fork-ribbon.github-fork-ribbon-gray0::before {
    background-color: #f8f9fa;
}

.github-fork-ribbon.github-fork-ribbon-gray0::after {
    color: #000;
}

.github-fork-ribbon.github-fork-ribbon-gray1::before {
    background-color: #f1f3f5;
}

.github-fork-ribbon.github-fork-ribbon-gray1::after {
    color: #000;
}

.github-fork-ribbon.github-fork-ribbon-gray2::before {
    background-color: #e9ecef;
}

.github-fork-ribbon.github-fork-ribbon-gray2::after {
    color: #000;
}

.github-fork-ribbon.github-fork-ribbon-gray3::before {
    background-color: #dee2e6;
}

.github-fork-ribbon.github-fork-ribbon-gray3::after {
    color: #000;
}
